.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container i {
    font-size: 100px;
    color: var(--blue);
}

.container h2 {
    font-size: 30px;
    color: var(--blue);
    padding: 30px;
}